@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #E19898;
    --cor-secundaria: #3F1D38;
    --cor-terciaria: #4D3C77;
    --cor-hover: #A2678A;

    --fonte-primaria: 'krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-trecho {
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 15%;
    gap: 50px;
}

.apresentacao__conteudo {
    height: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--cor-terciaria);
    width: 350px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    cursor: pointer;
}

.cabecalho__menu__link:hover {
    transition: padding .5s, top .35s, box-shadow .4s;
    box-shadow: 0 0.4rem 0 -0.2rem var(--cor-terciaria);
    border-radius: 5px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
}

.imagem-perfil {
    height: 600px;
    border-radius: 30px;
  }

.imagem-perfil:hover {
    transform: scaleX(-1);
}

.apresentacao__links__link:hover {
    color: var(--cor-secundaria);
    background-color: var(--cor-hover);
    padding: 3%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}